.easy-steps2 {
  background: linear-gradient(90deg, #b529ac, #30a7bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.span2 {
  color: #fff;
}
.effortless-global-connectivity-container5 {
  width: 100%;
}
.effortless-global-connectivity-container4 {
  margin: 0;
  width: 803px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  font-family: inherit;
}
.effortless-global-connectivity-wrapper1 {
  width: 1717.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.background-icon17 {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: 9999px;
}
.background-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 2px;
}
.heading-2154 {
  position: relative;
  line-height: 28px;
}
.heading-2-1-choose-your-pac-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 59px 0 62px;
}
.based-on-where2,
.needs-get-the2,
.rates2 {
  display: block;
}
.based-on-where-container2 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.background8 {
  flex: 0.9888;
  border-radius: 16px;
  background: linear-gradient(90deg, #b529ac, #9449b1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px 27px 40px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 306px;
  max-width: 100%;
}
.background-icon18 {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: 9999px;
}
.background-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 2px;
}
.heading-2155 {
  position: relative;
  line-height: 28px;
}
.heading-2-2-scan-the-code-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 2px;
}
.scan-it-with2,
.youll-get-a2,
.your-esim2 {
  display: block;
}
.youll-get-a-container2 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.background9 {
  flex: 1;
  border-radius: 16px;
  background: linear-gradient(90deg, #9449b1, #7369b6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px 25px 40px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 306px;
  max-width: 100%;
}
.background-icon19 {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: 9999px;
}
.background-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
}
.heading-2156 {
  position: relative;
  line-height: 28px;
}
.heading-2-3-switch-to-esim-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.esim-the-primary2,
.smartphone-or-tablet2,
.when-you-land2 {
  display: block;
}
.when-you-land-container2 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.background10 {
  flex: 0.9609;
  border-radius: 16px;
  background: linear-gradient(90deg, #7369b6, #5288bb);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 32px 40px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 306px;
  max-width: 100%;
}
.background-icon20 {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: 9999px;
}
.background-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 1px;
}
.heading-2157 {
  position: relative;
  line-height: 28px;
}
.heading-2-4-connect-to-netw-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 61px 0 63px;
}
.available2,
.enable-roaming-to2,
.enjoy-connected-travel2 {
  display: block;
}
.enable-roaming-to-container2 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.background-parent4,
.background11 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.background11 {
  flex: 0.9721;
  border-radius: 16px;
  background: linear-gradient(90deg, #5288bb, #30a7bf);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px 30px 40px;
  gap: 24px;
  min-width: 306px;
}
.background-parent4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 24px;
  gap: 32px;
  font-size: 20px;
}
.need-help2 {
  font-weight: 600;
}
.need-help-go-container2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.link-button6 {
  height: 56px;
  width: 178.2px;
}
.link-button-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.need-help-go-to-our-support-p-container {
  width: 513.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.frame-parent9,
.section-inner1,
.section6 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.section-inner1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  font-size: 16px;
}
.frame-parent9,
.section6 {
  flex-direction: column;
  justify-content: flex-start;
}
.section6 {
  border-radius: 16px;
  background-color: #cfcfcf;
  align-items: flex-end;
  padding: 48px 48px 112px;
  box-sizing: border-box;
  gap: 24px;
}
.frame-parent9 {
  align-items: flex-start;
  gap: 48px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: Inter;
}
.sim-card-1-icon5 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.axyx-link5 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  min-width: 87px;
}
.axyx-link-wrapper1,
.sim-card-1-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.axyx-link-wrapper1 {
  flex-direction: column;
  padding: 8px 0 0;
}
.sim-card-1-parent3 {
  flex-direction: row;
  gap: 4px;
}
.esims-deliver-fixed-rate3,
.get-better-connections3,
.service-no-roaming3 {
  display: block;
}
.get-better-connections-container3 {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.background-icon21,
.background-icon22,
.background-icon23 {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 9999px;
  min-height: 50px;
}
.background-parent5,
.container3,
.get-better-connections-with-yo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.container3,
.get-better-connections-with-yo-parent1 {
  flex-direction: column;
  gap: 24px;
}
.container3 {
  padding: 16px 12px 95.7px 0;
  box-sizing: border-box;
  gap: 30.3px;
  min-width: 448px;
  max-width: 100%;
}
.heading-2158 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  min-width: 76.2px;
}
.link-home3 {
  display: inline-block;
  min-width: 45px;
}
.link-choose3,
.link-contact3,
.link-get3,
.link-home3,
.link-what3 {
  position: relative;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}
.link-contact3,
.link-get3 {
  display: inline-block;
  min-width: 93px;
}
.link-contact3 {
  min-width: 85.2px;
}
.heading-2-site-links-parent1,
.link-home-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-site-links-parent1 {
  gap: 16px;
}
.heading-2159 {
  font-weight: 700;
}
.heading-2159,
.link-affiliates3,
.link-privacy3,
.link-terms3 {
  position: relative;
  line-height: 24px;
}
.link-affiliates3,
.link-privacy3 {
  display: inline-block;
}
.link-privacy3 {
  text-decoration: none;
  color: inherit;
  min-width: 105.3px;
}
.link-affiliates3 {
  min-width: 67px;
}
.heading-2-important-informat-parent1,
.link-terms-and-conditions-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-important-informat-parent1 {
  gap: 16px;
  min-width: 173px;
}
.heading-2160,
.link-log3,
.link-sign3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.heading-2160 {
  font-weight: 700;
  min-width: 92px;
}
.link-log3,
.link-sign3 {
  min-width: 60px;
  white-space: nowrap;
}
.link-log3 {
  color: inherit;
  text-decoration: none;
  min-width: 47px;
}
.frame-parent11,
.heading-2-user-profile-parent1,
.link-sign-up-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent11,
.heading-2-user-profile-parent1 {
  gap: 16px;
}
.frame-parent11 {
  width: 398.3px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
}
.heading-2161 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
}
.link-africa3,
.link-asia3,
.link-caribbean3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 45px;
}
.link-asia3,
.link-caribbean3 {
  min-width: 32.4px;
}
.link-caribbean3 {
  min-width: 78.3px;
}
.link-europe3,
.link-latam3,
.link-middle3,
.link-north3,
.link-oceania3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 54px;
}
.link-middle3,
.link-north3,
.link-oceania3 {
  min-width: 89px;
}
.link-north3,
.link-oceania3 {
  min-width: 110.2px;
}
.link-oceania3 {
  min-width: 62px;
}
.heading-2-supported-regions-parent1,
.link-africa-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-supported-regions-parent1 {
  gap: 16px;
}
.frame-parent10,
.frame-wrapper128 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  flex-direction: row;
  justify-content: flex-start;
  gap: 74.2px;
}
.frame-wrapper128 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 16px;
  box-sizing: border-box;
  min-width: 859.7000000000044px;
}
.container-parent1 {
  width: 1706.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.copyright-20243 {
  position: relative;
  line-height: 24px;
}
.copyright-2024-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.apple-paysvg-icon3,
.visasvg-icon3 {
  align-self: stretch;
  width: 64px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.layer-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google-pay-primary-logo-logo-s3 {
  position: absolute;
  height: 100.64%;
  width: 49.22%;
  top: 0;
  right: 25.47%;
  bottom: -0.64%;
  left: 25.31%;
  z-index: 1;
}
.google-paysvg7 {
  height: 31.3px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.google-paysvg-fill3 {
  flex: 1;
  overflow: hidden;
  padding: 0.3px 0 0.4px;
}
.google-paysvg-fill3,
.google-paysvg6,
.visasvg-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.google-paysvg6 {
  flex: 1;
  overflow: hidden;
}
.visasvg-parent1 {
  width: 240px;
  gap: 24px;
}
.horizontalborder3,
.section7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.horizontalborder3 {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  flex-direction: row;
  justify-content: space-between;
  padding: 31px 0 32px;
  gap: 20px;
}
.section7 {
  border-radius: 16px;
  background-color: #0c0c0c;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px;
  box-sizing: border-box;
  gap: 8px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.button-activate-mobile-searc2 {
  position: absolute;
  top: calc(50% - 16px);
  left: 266px;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
}
.button-toggle-menu-svg2 {
  position: absolute;
  top: 11.5px;
  left: 356px;
  width: 1px;
  height: 40px;
}
.vector-icon24,
.vector-icon25,
.vector-icon26 {
  position: absolute;
  width: 0.2%;
  top: 49.22%;
  right: 7.35%;
  left: 92.46%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.vector-icon25,
.vector-icon26 {
  top: 33.59%;
}
.vector-icon26 {
  top: 64.84%;
}
.sim-card-1-icon6 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.axyx-link6 {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.sim-card-1-parent4 {
  position: absolute;
  top: 15px;
  left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.backgroundshadow2 {
  position: absolute;
  top: 20px;
  left: calc(50% - 179px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #cfcfcf;
  width: 358px;
  height: 64px;
  overflow: hidden;
  display: none;
}
.nav2 {
  width: 390px;
  height: 92px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.imagebackground-icon4 {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 0 !important;
  right: 20px;
  bottom: 20px;
  border-radius: 8px;
  z-index: 1;
}
.contact,
.main4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main4 {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  padding: 14px 48px 48px;
  box-sizing: border-box;
  gap: 112px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
.contact {
  width: 100%;
  background: linear-gradient(#1d1d1d, #1d1d1d), #fff;
  overflow-y: auto;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .background-parent4 {
    flex-wrap: wrap;
  }
  .container3 {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-wrapper128 {
    flex: 1;
  }
  .container-parent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .section6 {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .frame-parent10 {
    flex-wrap: wrap;
    gap: 37px;
  }
  .frame-wrapper128 {
    min-width: 100%;
  }
  .main4,
  .section7 {
    box-sizing: border-box;
  }
  .section7 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main4 {
    gap: 56px;
    padding: 20px 24px;
  }
}
@media screen and (max-width: 825px) {
  .effortless-global-connectivity-container4 {
    font-size: 29px;
    line-height: 32px;
  }
  .background-parent4 {
    gap: 16px;
  }
  .section6 {
    padding-top: 31px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
  .frame-parent9 {
    gap: 24px;
  }
  .container3 {
    min-width: 100%;
  }
  .horizontalborder3 {
    flex-wrap: wrap;
  }
  .section7 {
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .main4 {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .effortless-global-connectivity-container4 {
    font-size: 22px;
    line-height: 24px;
  }
  .heading-2154 {
    font-size: 16px;
    line-height: 22px;
  }
  .heading-2-1-choose-your-pac-frame {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .background8 {
    flex: 1;
  }
  .heading-2155,
  .heading-2156 {
    font-size: 16px;
    line-height: 22px;
  }
  .background10 {
    flex: 1;
  }
  .heading-2157 {
    font-size: 16px;
    line-height: 22px;
  }
  .heading-2-4-connect-to-netw-frame {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .background11 {
    flex: 1;
  }
  .container3 {
    gap: 15px;
  }
  .heading-2-important-informat-parent1 {
    flex: 1;
  }
  .frame-parent11 {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: 19px;
  }
}
