.button-activate-mobile-searc3 {
  position: absolute;
  top: calc(50% - 16px);
  left: 266px;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
}
.button-toggle-menu-svg3 {
  position: absolute;
  top: 11.5px;
  left: 356px;
  width: 1px;
  height: 40px;
}
.vector-icon10,
.vector-icon11,
.vector-icon9 {
  position: absolute;
  width: 0.2%;
  top: 49.22%;
  right: 7.35%;
  left: 92.46%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.vector-icon10,
.vector-icon11 {
  top: 33.59%;
}
.vector-icon11 {
  top: 64.84%;
}
.sim-card-1-icon4 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.axyx-link4 {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.sim-card-1-parent2 {
  position: absolute;
  top: 15px;
  left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.backgroundshadow4 {
  position: absolute;
  top: 20px;
  left: calc(50% - 179px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #cfcfcf;
  width: 358px;
  height: 64px;
  overflow: hidden;
  display: none;
}
.nav4 {
  width: 390px;
  height: 92px;
  position: relative;
  display: none;
  max-width: 100%;
}
.image-icon1 {
  width: 160px;
  height: 46.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.esims-deliver-fixed-rate1,
.get-better-connections1,
.service-no-roaming1 {
  display: block;
}
.get-better-connections-container1 {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.background-icon3,
.background-icon4,
.background-icon5 {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 9999px;
  min-height: 50px;
}
.background-parent,
.image-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.image-group {
  flex-direction: column;
  gap: 24px;
  min-width: 435.3999999999942px;
  max-width: 100%;
}
.heading-24 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  min-width: 76.2px;
}
.link-home1 {
  display: inline-block;
  min-width: 45px;
}
.link-choose1,
.link-contact1,
.link-get1,
.link-home1,
.link-what1 {
  position: relative;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}
.link-contact1,
.link-get1 {
  display: inline-block;
  min-width: 93px;
}
.link-contact1 {
  min-width: 85.2px;
}
.heading-2-site-links-parent,
.link-home-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-site-links-parent {
  gap: 16px;
}
.heading-25 {
  font-weight: 700;
}
.heading-25,
.link-affiliates1,
.link-privacy1,
.link-terms1 {
  position: relative;
  line-height: 24px;
}
.link-affiliates1,
.link-privacy1 {
  display: inline-block;
}
.link-privacy1 {
  text-decoration: none;
  color: inherit;
  min-width: 105.3px;
}
.link-affiliates1 {
  min-width: 67px;
}
.heading-2-important-informat-parent,
.link-terms-and-conditions-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-important-informat-parent {
  gap: 16px;
  min-width: 173px;
}
.heading-26,
.link-log2,
.link-sign2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.heading-26 {
  font-weight: 700;
  min-width: 92px;
}
.link-log2,
.link-sign2 {
  min-width: 60px;
  white-space: nowrap;
}
.link-log2 {
  color: inherit;
  text-decoration: none;
  min-width: 47px;
}
.frame-parent9,
.heading-2-user-profile-group,
.link-sign-up-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent9,
.heading-2-user-profile-group {
  gap: 16px;
}
.frame-parent9 {
  width: 398.3px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
}
.heading-27 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
}
.link-africa1,
.link-asia1,
.link-caribbean1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 45px;
}
.link-asia1,
.link-caribbean1 {
  min-width: 32.4px;
}
.link-caribbean1 {
  min-width: 78.3px;
}
.link-europe1,
.link-latam1,
.link-middle1,
.link-north1,
.link-oceania1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 54px;
}
.link-middle1,
.link-north1,
.link-oceania1 {
  min-width: 89px;
}
.link-north1,
.link-oceania1 {
  min-width: 110.2px;
}
.link-oceania1 {
  min-width: 62px;
}
.heading-2-supported-regions-group,
.link-africa-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading-2-supported-regions-group {
  gap: 16px;
}
.frame-parent8 {
  flex-direction: row;
  justify-content: flex-start;
  gap: 74.2px;
}
.frame-parent7,
.frame-parent8,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
  min-width: 859.6999999999971px;
}
.frame-parent7 {
  width: 1706.8px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.copyright-20241 {
  position: relative;
  line-height: 24px;
}
.copyright-2024-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.apple-paysvg-icon1,
.visasvg-icon1 {
  align-self: stretch;
  width: 64px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.layer-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.google-pay-primary-logo-logo-s1 {
  position: absolute;
  top: 0;
  left: 16.2px;
  width: 31.5px;
  height: 31.5px;
  z-index: 1;
}
.layer-parent {
  height: 31.5px;
  flex: 1;
  position: relative;
}
.google-paysvg1 {
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
}
.google-paysvg1,
.horizontalborder1,
.visasvg-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.visasvg-group {
  width: 240px;
  justify-content: flex-start;
  gap: 24px;
}
.horizontalborder1 {
  align-self: stretch;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  padding: 31px 0 32px;
  gap: 20px;
}
.section1 {
  flex: 1;
  border-radius: 16px;
  background-color: #0c0c0c;
  flex-direction: column;
  padding: 64px 48px 48px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.section-container,
.section1,
.sign-up,
.sign-up-desktop-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 48px;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-up,
.sign-up-desktop-parent {
  flex-direction: column;
}
.sign-up-desktop-parent {
  align-self: stretch;
  max-width: 100%;
}
.sign-up {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 14px 0 32px;
  box-sizing: border-box;
  gap: 14px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1500px) {
  .frame-wrapper3,
  .image-group {
    flex: 1;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .frame-parent8 {
    flex-wrap: wrap;
    gap: 37px;
  }
  .frame-wrapper3 {
    min-width: 100%;
  }
  .section-container,
  .section1 {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .image-group {
    min-width: 100%;
  }
  .horizontalborder1 {
    flex-wrap: wrap;
  }
  .section1 {
    padding-top: 42px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-2-important-informat-parent {
    flex: 1;
  }
  .frame-parent9 {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent8 {
    gap: 19px;
  }
}
