.background-icon41 {
  height: 56px;
  width: 84.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.installation {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 74px;
}
.installation-wrapper {
  width: 151.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 20px 0 0;
  box-sizing: border-box;
}
.img-icon164 {
  width: 16px;
  height: 16px;
  position: relative;
}
.button-select-option,
.img-wrapper162 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.button-select-option {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #606060;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 16px 0 0;
  gap: 16px;
}
.background-icon42 {
  height: 56px;
  width: 84.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.troubleshooting {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 110px;
}
.troubleshooting-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 20px 0 0;
}
.img-icon165 {
  width: 16px;
  height: 16px;
  position: relative;
}
.button-select-option1,
.img-wrapper163 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.button-select-option1 {
  align-self: stretch;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  padding: 0 16px 0 0;
  gap: 16px;
}
.supportsvg-icon {
  height: 32px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border5,
.border6 {
  height: 50px;
  width: 25px;
  position: absolute;
  margin: 0 !important;
  border-top: 25px solid #606060;
  border-bottom: 25px solid #606060;
  border-left: 25px solid #606060;
  box-sizing: border-box;
  transform-origin: 0 0;
}
.border5 {
  top: -26.25px;
  left: -39.8px;
  transform: rotate(-20deg);
  z-index: 1;
}
.border6 {
  bottom: -29.2px;
  left: -22.7px;
  transform: rotate(20deg);
  z-index: 2;
}
.background15,
.button-select-option-child,
.supportsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.supportsvg-parent {
  flex-direction: row;
  position: relative;
}
.background15,
.button-select-option-child {
  box-sizing: border-box;
}
.background15 {
  width: 84.3px;
  background-color: #cfcfcf;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 12px 20px;
}
.button-select-option-child {
  width: calc(100% - 62px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 38px;
  flex: 1;
  flex-direction: column;
  padding: 18px 0 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  min-width: 91px;
}
.img-icon166 {
  width: 16px;
  height: 16px;
  position: relative;
}
.button-select-option2,
.img-wrapper164 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.button-select-option2 {
  align-self: stretch;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  padding: 0 16px 0 0;
  gap: 16px;
}
.background-icon43 {
  height: 56px;
  width: 84.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-select-option-item {
  width: calc(100% - 32px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 38px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  min-width: 91px;
}
.img-icon167 {
  width: 16px;
  height: 16px;
  position: relative;
}
.button-select-option3,
.img-wrapper165 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.button-select-option3 {
  align-self: stretch;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  padding: 0 16px 0 0;
  gap: 16px;
}
.background-icon44 {
  height: 56px;
  width: 84.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.about-esims {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.about-esims-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 20px 0 0;
}
.img-icon168 {
  width: 16px;
  height: 16px;
  position: relative;
}
.img-wrapper166 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.button-select-option-group,
.button-select-option4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.button-select-option4 {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  padding: 0 16px 0 0;
}
.button-select-option-group {
  flex-direction: column;
}
.input4 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 56px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  font-family: Inter;
  font-size: 14px;
  color: #bbb;
}
.frame-parent42 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 192px;
  gap: 48px;
}
.heading-31 {
  position: relative;
  line-height: 28px;
}
.drop-us-a,
.feel-free-to {
  font-family: Inter;
  color: #fff;
}
.drop-us-a {
  text-decoration: underline;
  color: #b529ac;
}
.feel-free-to-drop-us-a-line-wi,
.specific-queries {
  display: block;
}
.feel-free-to-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.button-select-option-parent,
.heading-3-need-more-help-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.heading-3-need-more-help-parent {
  font-size: 20px;
}
.button-select-option-parent {
  width: 300px;
}
.heading-32 {
  width: 319.2px;
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading-3-need-help-with-ins-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.to-download-our {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.frame-parent43 {
  width: 659.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}
.link-button8 {
  height: 56px;
  width: 97.5px;
}
.link-button9 {
  height: 56px;
  flex: 1;
  min-width: 87px;
}
.link-button10 {
  height: 56px;
  width: 107.8px;
}
.link-button-parent {
  width: 371.7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.background-inner,
.background16 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.background-inner {
  width: 660px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2px 0 0;
}
.background16 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #606060;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 20px;
  gap: 24px;
}
.when-should-i1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.how-do-i,
.how-do-i1,
.how-do-i2,
.how-do-i3 {
  display: inline-block;
  max-width: 100%;
}
.how-do-i,
.how-do-i1,
.how-do-i2,
.how-do-i3,
.how-do-i4,
.how-do-i5 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.how-do-i5 {
  display: inline-block;
  max-width: 100%;
}
.when-should-i-install-my-esim-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: calc(100% - 36px);
}
.svg-icon10,
.svg-icon11,
.svg-icon5,
.svg-icon6,
.svg-icon7,
.svg-icon8,
.svg-icon9 {
  width: 16px;
  height: 16px;
  position: relative;
}
.svg-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 56px;
}
.frame-parent44,
.frame-wrapper173,
.svg-parent {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper173 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.frame-parent44 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.backgroundshadow-inner4,
.backgroundshadow8,
.frame-parent41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundshadow-inner4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
}
.backgroundshadow8,
.frame-parent41 {
  gap: 32px;
}
.backgroundshadow8 {
  flex: 1;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #cfcfcf;
  overflow: hidden;
  flex-direction: column;
  padding: 32px 32px 48px;
  box-sizing: border-box;
  max-width: calc(100% - 332px);
  text-align: center;
  font-size: 18px;
}
.frame-parent41 {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .button-select-option-parent {
    display: none;
  }
  .backgroundshadow8 {
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .frame-parent42 {
    padding-bottom: 125px;
    box-sizing: border-box;
  }
  .when-should-i-install-my-esim-parent {
    gap: 24px;
  }
  .backgroundshadow8 {
    gap: 16px;
    padding-top: 21px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .frame-parent41 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent42 {
    gap: 24px;
  }
  .heading-31 {
    font-size: 16px;
    line-height: 22px;
  }
  .backgroundshadow8 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
