.axyxlink {
  background: linear-gradient(90deg, #b529ac, #30a7bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.why-use-axyxlink-container1 {
  width: 100%;
}
.why-use-axyxlink-container {
  margin: 0;
  width: 580.7px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  font-family: inherit;
}
.why-use-axyxlink-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.if-youre-a,
.old-school-roaming {
  display: block;
}
.if-youre-a-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.frame-parent22,
.frame-wrapper171 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent22 {
  width: 751.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16.5px;
}
.frame-wrapper171 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.hero-shapesvg-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fixedsvg-icon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.backgroundshadow-inner1,
.hero-shapesvg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.hero-shapesvg-parent {
  justify-content: flex-start;
  padding: 33.5px 26px 33.6px;
  position: relative;
}
.backgroundshadow-inner1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 2px 0 0;
}
.heading-2210 {
  position: relative;
  line-height: 30px;
}
.without-exorbitant-roaming {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.without-exorbitant-roaming-cha-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 64px 0 63px;
  font-size: 14px;
}
.backgroundshadow5,
.heading-2-1-pocket-friendly-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-2-1-pocket-friendly-parent {
  align-self: stretch;
  gap: 24px;
}
.backgroundshadow5 {
  flex: 0.9583;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #cfcfcf;
  overflow: hidden;
  padding: 32px 32px 82px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 397px;
  max-width: 100%;
}
.hero-shape-2svg-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.digitalsvg-icon {
  height: 45px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.backgroundshadow-inner2,
.hero-shape-2svg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.hero-shape-2svg-parent {
  justify-content: flex-start;
  padding: 35px 26px 35.1px;
  position: relative;
}
.backgroundshadow-inner2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 1px 0 0;
}
.instant-connection-a,
.options {
  margin: 0;
}
.instant-connection-a-container {
  position: relative;
  line-height: 30px;
}
.or-tablet-without,
.use-your-favorite {
  display: block;
}
.use-your-favorite-container {
  margin: 0;
  position: relative;
  line-height: 20px;
}
.use-your-favorite-apps-and-ser-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4px 0 5px;
  font-size: 14px;
}
.backgroundshadow6,
.instant-connection-a-range-of-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.instant-connection-a-range-of-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 23.5px;
}
.backgroundshadow6 {
  flex: 1;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #cfcfcf;
  overflow: hidden;
  align-items: flex-start;
  padding: 32px 24px 32.5px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 397px;
  max-width: 100%;
}
.backgroundshadow-parent,
.frame-parent21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
  font-size: 20px;
}
.frame-parent21 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 16px;
  box-sizing: border-box;
  gap: 48px;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1575px) {
  .backgroundshadow-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .why-use-axyxlink-container {
    font-size: 38px;
    line-height: 38px;
  }
  .backgroundshadow5,
  .backgroundshadow6 {
    min-width: 100%;
  }
  .backgroundshadow-parent {
    gap: 16px;
  }
  .frame-parent21 {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .why-use-axyxlink-container {
    font-size: 29px;
    line-height: 29px;
  }
  .heading-2210 {
    font-size: 16px;
    line-height: 24px;
  }
  .without-exorbitant-roaming-cha-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .backgroundshadow5 {
    gap: 16px;
    flex: 1;
  }
  .instant-connection-a-container {
    font-size: 16px;
    line-height: 24px;
  }
  .backgroundshadow6 {
    gap: 16px;
  }
}
