.rectangle-icon1 {
  position: absolute;
  height: 59.06%;
  width: 98.62%;
  top: 0;
  right: 1.38%;
  bottom: 40.94%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asvg-fill1,
.asvg2,
.asvg3 {
  overflow: hidden;
  flex-shrink: 0;
}
.asvg3 {
  margin-left: -0.5999999999985448px;
  height: 64px;
  flex: 1;
  position: relative;
  debug_commit: bf4bc93;
}
.asvg-fill1,
.asvg2 {
  width: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.asvg2 {
  height: 64px;
  border-radius: 9999px;
  background-color: #fff;
}
.from-us14501,
.heading-2162 {
  position: relative;
  display: inline-block;
}
.heading-2162 {
  line-height: 20px;
  font-weight: 600;
  min-width: 44px;
}
.from-us14501 {
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  min-width: 88px;
}
.heading-2-global-group {
  flex-direction: column;
  gap: 3.5px;
}
.asvg-group,
.frame-wrapper129,
.heading-2-global-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper129 {
  flex-direction: column;
  padding: 12px 0 0;
}
.asvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon124 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper122 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.ausvg-icon1,
.link132 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link132 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  cursor: pointer;
}
.ausvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45054,
.heading-2163 {
  position: relative;
  display: inline-block;
}
.heading-2163 {
  line-height: 20px;
  font-weight: 600;
  min-width: 61px;
}
.from-us45054 {
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  min-width: 82px;
}
.heading-2-australia-group {
  flex-direction: column;
  gap: 3.5px;
}
.ausvg-group,
.frame-wrapper130,
.heading-2-australia-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper130 {
  flex-direction: column;
  padding: 12px 0 0;
}
.ausvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon125 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper123 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.casvg-icon1,
.link133 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link133 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  cursor: pointer;
}
.casvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us6002,
.heading-2164 {
  position: relative;
  display: inline-block;
}
.heading-2164 {
  line-height: 20px;
  font-weight: 600;
  min-width: 52.3px;
}
.from-us6002 {
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  min-width: 82px;
}
.heading-2-canada-group {
  flex-direction: column;
  gap: 3.5px;
}
.casvg-group,
.frame-wrapper131,
.heading-2-canada-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper131 {
  flex-direction: column;
  padding: 12px 0 0;
}
.casvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon126 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper124 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.egsvg-icon1,
.link134 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link134 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  cursor: pointer;
}
.egsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us7005,
.heading-2165 {
  position: relative;
  display: inline-block;
}
.heading-2165 {
  line-height: 20px;
  font-weight: 600;
  min-width: 40px;
}
.from-us7005 {
  font-size: 12px;
  line-height: 16px;
  min-width: 80.1px;
}
.heading-2-egypt-group {
  flex-direction: column;
  gap: 3.5px;
}
.egsvg-group,
.frame-wrapper132,
.heading-2-egypt-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper132 {
  flex-direction: column;
  padding: 12px 0 0;
}
.egsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon127 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper125 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.frsvg-icon1,
.link135 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link135 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.frsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45055,
.heading-2166 {
  position: relative;
  display: inline-block;
}
.heading-2166 {
  line-height: 20px;
  font-weight: 600;
  min-width: 47px;
}
.from-us45055 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-france-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper133,
.frsvg-group,
.heading-2-france-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper133 {
  flex-direction: column;
  padding: 12px 0 0;
}
.frsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon128 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper126 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.desvg-icon1,
.link136 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link136 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.desvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us50013,
.heading-2167 {
  position: relative;
  display: inline-block;
}
.heading-2167 {
  line-height: 20px;
  font-weight: 600;
  min-width: 62px;
}
.from-us50013 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-germany-group {
  flex-direction: column;
  gap: 3.5px;
}
.desvg-group,
.frame-wrapper134,
.heading-2-germany-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper134 {
  flex-direction: column;
  padding: 12px 0 0;
}
.desvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon129 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper127 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.insvg-icon1,
.link137 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link137 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.insvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45056,
.heading-2168 {
  position: relative;
  display: inline-block;
}
.heading-2168 {
  line-height: 20px;
  font-weight: 600;
  min-width: 33.3px;
}
.from-us45056 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-india-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper135,
.heading-2-india-group,
.insvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper135 {
  flex-direction: column;
  padding: 12px 0 0;
}
.insvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon130 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper128 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.idsvg-icon1,
.link138 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link138 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.idsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us5503,
.heading-2169 {
  position: relative;
  display: inline-block;
}
.heading-2169 {
  line-height: 20px;
  font-weight: 600;
  min-width: 66.2px;
}
.from-us5503 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-indonesia-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper136,
.heading-2-indonesia-group,
.idsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper136 {
  flex-direction: column;
  padding: 12px 0 0;
}
.idsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon131 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper129 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.itsvg-icon1,
.link139 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link139 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.itsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45057,
.heading-2170 {
  position: relative;
  display: inline-block;
}
.heading-2170 {
  line-height: 20px;
  font-weight: 600;
  min-width: 29.3px;
}
.from-us45057 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-italy-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper137,
.heading-2-italy-group,
.itsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper137 {
  flex-direction: column;
  padding: 12px 0 0;
}
.itsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon132 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper130 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link140,
.mxsvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link140 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.mxsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us8009,
.heading-2171 {
  position: relative;
  display: inline-block;
}
.heading-2171 {
  line-height: 20px;
  font-weight: 600;
  min-width: 49.3px;
}
.from-us8009 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-mexico-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper138,
.heading-2-mexico-group,
.mxsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper138 {
  flex-direction: column;
  padding: 12px 0 0;
}
.mxsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon133 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper131 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link141,
.masvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link141 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.masvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us80010,
.heading-2172 {
  position: relative;
  display: inline-block;
}
.heading-2172 {
  line-height: 20px;
  font-weight: 600;
  min-width: 60px;
}
.from-us80010 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-morocco-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper139,
.heading-2-morocco-group,
.masvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper139 {
  flex-direction: column;
  padding: 12px 0 0;
}
.masvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon134 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper132 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link142,
.omsvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link142 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.omsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.from-us45058,
.heading-2173 {
  position: relative;
  display: inline-block;
}
.heading-2173 {
  line-height: 20px;
  font-weight: 600;
  min-width: 40.3px;
}
.from-us45058 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-oman-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper140,
.heading-2-oman-group,
.omsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper140 {
  flex-direction: column;
  padding: 12px 0 0;
}
.omsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon135 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper133 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link143,
.ptsvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link143 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.ptsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45059,
.heading-2174 {
  position: relative;
  display: inline-block;
}
.heading-2174 {
  line-height: 20px;
  font-weight: 600;
  min-width: 58px;
}
.from-us45059 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-portugal-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper141,
.heading-2-portugal-group,
.ptsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper141 {
  flex-direction: column;
  padding: 12px 0 0;
}
.ptsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon136 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper134 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link144,
.sasvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link144 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.sasvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.from-us50014,
.heading-2175 {
  position: relative;
  display: inline-block;
}
.heading-2175 {
  line-height: 20px;
  font-weight: 600;
  min-width: 86px;
}
.from-us50014 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-saudi-arabia-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper142,
.heading-2-saudi-arabia-group,
.sasvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper142 {
  flex-direction: column;
  padding: 12px 0 0;
}
.sasvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon137 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper135 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.essvg-icon1,
.link145 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link145 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.essvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45060,
.heading-2176 {
  position: relative;
  display: inline-block;
}
.heading-2176 {
  line-height: 20px;
  font-weight: 600;
  min-width: 39px;
}
.from-us45060 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-spain-group {
  flex-direction: column;
  gap: 3.5px;
}
.essvg-group,
.frame-wrapper143,
.heading-2-spain-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper143 {
  flex-direction: column;
  padding: 12px 0 0;
}
.essvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon138 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper136 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.chsvg-icon,
.link146 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link146 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.chsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45061,
.heading-2177 {
  position: relative;
  display: inline-block;
}
.heading-2177 {
  line-height: 20px;
  font-weight: 600;
  min-width: 81px;
}
.from-us45061 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-switzerland-parent {
  flex-direction: column;
  gap: 3.5px;
}
.chsvg-parent,
.frame-wrapper144,
.heading-2-switzerland-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper144 {
  flex-direction: column;
  padding: 12px 0 0;
}
.chsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon139 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper137 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link-parent1,
.link147 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link147 {
  width: 438px;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
}
.link-parent1 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px 22.7px;
  min-height: 392px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
