.chsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.from-us45066,
.heading-2188 {
  position: relative;
  display: inline-block;
}
.heading-2188 {
  line-height: 20px;
  font-weight: 600;
  min-width: 81px;
}
.from-us45066 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-switzerland-group {
  flex-direction: column;
  gap: 3.5px;
}
.chsvg-group,
.frame-wrapper152,
.heading-2-switzerland-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper152 {
  flex-direction: column;
  padding: 12px 0 0;
}
.chsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon145 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper143 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link153,
.twsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link153 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.twsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.from-us6252,
.heading-2189 {
  position: relative;
  display: inline-block;
}
.heading-2189 {
  line-height: 20px;
  font-weight: 600;
  min-width: 49px;
}
.from-us6252 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-taiwan-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper153,
.heading-2-taiwan-parent,
.twsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper153 {
  flex-direction: column;
  padding: 12px 0 0;
}
.twsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon146 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper144 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link154,
.tjsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link154 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.tjsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us6253,
.heading-2190 {
  position: relative;
  display: inline-block;
}
.heading-2190 {
  line-height: 20px;
  font-weight: 600;
  min-width: 65.1px;
}
.from-us6253 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-tajikistan-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper154,
.heading-2-tajikistan-parent,
.tjsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper154 {
  flex-direction: column;
  padding: 12px 0 0;
}
.tjsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon147 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper145 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link155,
.tzsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link155 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.tzsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.from-us45067,
.heading-2191 {
  position: relative;
  display: inline-block;
}
.heading-2191 {
  line-height: 20px;
  font-weight: 600;
  min-width: 61.3px;
}
.from-us45067 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-tanzania-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper155,
.heading-2-tanzania-parent,
.tzsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper155 {
  flex-direction: column;
  padding: 12px 0 0;
}
.tzsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon148 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper146 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link156,
.thsvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link156 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.thsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45068,
.heading-2192 {
  position: relative;
  display: inline-block;
}
.heading-2192 {
  line-height: 20px;
  font-weight: 600;
  min-width: 59px;
}
.from-us45068 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-thailand-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper156,
.heading-2-thailand-group,
.thsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper156 {
  flex-direction: column;
  padding: 12px 0 0;
}
.thsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon149 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper147 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link157,
.tosvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link157 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.tosvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us25001,
.heading-2193 {
  position: relative;
  display: inline-block;
}
.heading-2193 {
  line-height: 20px;
  font-weight: 600;
  min-width: 42.3px;
}
.from-us25001 {
  font-size: 12px;
  line-height: 16px;
  min-width: 89px;
}
.heading-2-tonga-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper157,
.heading-2-tonga-parent,
.tosvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper157 {
  flex-direction: column;
  padding: 12px 0 0;
}
.tosvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon150 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper148 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link158,
.trsvg-icon1 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link158 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.trsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45069,
.heading-2194 {
  position: relative;
  display: inline-block;
}
.heading-2194 {
  line-height: 20px;
  font-weight: 600;
  min-width: 47px;
}
.from-us45069 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-turkey-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper158,
.heading-2-turkey-group,
.trsvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper158 {
  flex-direction: column;
  padding: 12px 0 0;
}
.trsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon151 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper149 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link159,
.tcsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link159 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.tcsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.heading-2195 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.from-us150016 {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  min-width: 87.3px;
}
.heading-2-turks-and-caicos-i-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper159,
.heading-2-turks-and-caicos-i-parent,
.tcsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper159 {
  flex-direction: column;
  padding: 12px 0 0;
}
.tcsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon152 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper150 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link160,
.ugsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link160 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.ugsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.from-us9001,
.heading-2196 {
  position: relative;
  display: inline-block;
}
.heading-2196 {
  line-height: 20px;
  font-weight: 600;
  min-width: 53px;
}
.from-us9001 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-uganda-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper160,
.heading-2-uganda-parent,
.ugsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper160 {
  flex-direction: column;
  padding: 12px 0 0;
}
.ugsvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon153 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper151 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link161,
.uasvg-icon {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link161 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.uasvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us45070,
.heading-2197 {
  position: relative;
  display: inline-block;
}
.heading-2197 {
  text-decoration: none;
  line-height: 20px;
  font-weight: 600;
  color: inherit;
  min-width: 53px;
}
.from-us45070 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-ukraine-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper161,
.heading-2-ukraine-parent,
.uasvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper161 {
  flex-direction: column;
  padding: 12px 0 0;
}
.uasvg-parent {
  flex-direction: row;
  gap: 8px;
}
.img-icon154 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper152 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.aesvg-icon1,
.link162 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link162 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.aesvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.heading-2198 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.from-us45071 {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  min-width: 82px;
}
.heading-2-united-arab-emirat-group {
  flex-direction: column;
  gap: 3.5px;
}
.aesvg-group,
.frame-wrapper162,
.heading-2-united-arab-emirat-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper162 {
  flex-direction: column;
  padding: 12px 0 0;
}
.aesvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon155 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper153 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.gbsvg-icon1,
.link163 {
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.link163 {
  width: 438px;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.gbsvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
}
.from-us50016,
.heading-2199 {
  position: relative;
  display: inline-block;
}
.heading-2199 {
  line-height: 20px;
  font-weight: 600;
  min-width: 110px;
}
.from-us50016 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-united-kingdom-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper163,
.gbsvg-group,
.heading-2-united-kingdom-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper163 {
  flex-direction: column;
  padding: 12px 0 0;
}
.gbsvg-group {
  flex-direction: row;
  gap: 8px;
}
.img-icon156 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper154 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link-parent3,
.link164 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link164 {
  width: 438px;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 20px;
}
.link-parent3 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px 22.7px;
  min-height: 288px;
}
.ussvg-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-2200 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.from-us45072 {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  min-width: 82px;
}
.heading-2-united-states-of-a-group {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper164,
.heading-2-united-states-of-a-group,
.ussvg-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper164 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.ussvg-group {
  width: 242px;
  flex-direction: row;
  gap: 8px;
}
.img-icon157 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper155 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link165,
.vnsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
}
.link165 {
  align-self: stretch;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.vnsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.from-us45073,
.heading-2201 {
  position: relative;
  display: inline-block;
}
.heading-2201 {
  line-height: 20px;
  font-weight: 600;
  min-width: 57px;
}
.from-us45073 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-vietnam-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper165,
.heading-2-vietnam-parent,
.vnsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper165 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.vnsvg-parent {
  width: 154px;
  flex-direction: row;
  gap: 8px;
}
.img-icon158 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper156 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.img-wrapper156,
.link-parent4,
.link166 {
  display: flex;
  align-items: flex-start;
}
.link166 {
  align-self: stretch;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.link-parent4 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  min-width: 328px;
  max-width: 100%;
}
.uysvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.from-us8752,
.heading-2202 {
  position: relative;
  display: inline-block;
}
.heading-2202 {
  line-height: 20px;
  font-weight: 600;
  min-width: 58px;
}
.from-us8752 {
  font-size: 12px;
  line-height: 16px;
  min-width: 81px;
}
.heading-2-uruguay-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper166,
.heading-2-uruguay-parent,
.uysvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper166 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.uysvg-parent {
  width: 153px;
  flex-direction: row;
  gap: 8px;
}
.img-icon159 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper157 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link167,
.vgsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
}
.link167 {
  align-self: stretch;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.vgsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  flex-shrink: 0;
}
.heading-2203 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.from-us150017 {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  min-width: 87.3px;
}
.heading-2-virgin-islands-br-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper167,
.heading-2-virgin-islands-br-parent,
.vgsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper167 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.vgsvg-parent {
  width: 222.2px;
  flex-direction: row;
  gap: 8px;
}
.img-icon160 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper158 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.img-wrapper158,
.link-parent5,
.link168 {
  display: flex;
  align-items: flex-start;
}
.link168 {
  align-self: stretch;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.link-parent5 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  min-width: 328px;
  max-width: 100%;
}
.uzsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.from-us45074,
.heading-2204 {
  position: relative;
  display: inline-block;
}
.heading-2204 {
  line-height: 20px;
  font-weight: 600;
  min-width: 77px;
}
.from-us45074 {
  font-size: 12px;
  line-height: 16px;
  min-width: 82px;
}
.heading-2-uzbekistan-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper168,
.heading-2-uzbekistan-parent,
.uzsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper168 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.uzsvg-parent {
  width: 154px;
  flex-direction: row;
  gap: 8px;
}
.img-icon161 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper159 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.link169,
.zmsvg-icon {
  border-radius: 9999px;
  overflow: hidden;
}
.link169 {
  align-self: stretch;
  background-color: #606060;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.zmsvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.from-us10003,
.heading-2205 {
  position: relative;
  display: inline-block;
}
.heading-2205 {
  line-height: 20px;
  font-weight: 600;
  min-width: 51px;
}
.from-us10003 {
  font-size: 12px;
  line-height: 16px;
  min-width: 88px;
}
.heading-2-zambia-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper169,
.heading-2-zambia-parent,
.zmsvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper169 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.zmsvg-parent {
  width: 160px;
  flex-direction: row;
  gap: 8px;
}
.img-icon162 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper160 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.img-wrapper160,
.link-parent6,
.link170 {
  display: flex;
  align-items: flex-start;
}
.link170 {
  align-self: stretch;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  gap: 20px;
}
.link-parent6 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  min-width: 328px;
  max-width: 100%;
}
.vesvg-icon {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.from-us8753,
.heading-2206 {
  position: relative;
  display: inline-block;
}
.heading-2206 {
  line-height: 20px;
  font-weight: 600;
  min-width: 71.1px;
}
.from-us8753 {
  font-size: 12px;
  line-height: 16px;
  min-width: 81px;
}
.heading-2-venezuela-parent {
  flex-direction: column;
  gap: 3.5px;
}
.frame-wrapper170,
.heading-2-venezuela-parent,
.vesvg-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper170 {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
}
.vesvg-parent {
  width: 153px;
  flex-direction: row;
  gap: 8px;
}
.img-icon163 {
  width: 20.7px;
  height: 16px;
  position: relative;
}
.img-wrapper161 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
}
.frame-parent17,
.frame-parent18,
.link171 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link171 {
  flex: 0.9635;
  border-radius: 9999px;
  background-color: #606060;
  overflow: hidden;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  min-width: 174px;
  gap: 20px;
}
.frame-parent17,
.frame-parent18 {
  align-self: stretch;
  justify-content: center;
  gap: 24px;
}
.frame-parent17 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 24px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1575px) {
  .frame-parent18 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .link171 {
    flex: 1;
  }
}
