.link-image2 {
  height: 55.5px;
  width: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sim-card-1-icon10 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.axyx-link10 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 87px;
  white-space: nowrap;
}
.axyx-link-wrapper3 {
  flex-direction: column;
  padding: 8px 0 0;
}
.axyx-link-wrapper3,
.nav-inner2,
.sim-card-1-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sim-card-1-parent7 {
  flex-direction: row;
  gap: 4px;
}
.nav-inner2 {
  flex-direction: column;
  padding: 0 34px 0 0;
}
.item-link10 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
}
.item-link11 {
  line-height: 22.8px;
  display: inline-block;
  min-width: 115px;
  white-space: nowrap;
}
.item-link11,
.item-link12,
.item-link13,
.item-link14 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.item-link12 {
  line-height: 22.8px;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
}
.item-link13,
.item-link14 {
  line-height: 23px;
}
.item-link13 {
  display: inline-block;
  min-width: 54px;
}
.item-link14 {
  flex: 1;
  white-space: nowrap;
}
.list-frame,
.list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list2 {
  align-self: stretch;
  flex-direction: row;
  padding: 4px 11px 0 12px;
  gap: 23.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.list-frame {
  flex: 1;
  flex-direction: column;
  padding: 6.6px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.input4 {
  align-self: stretch;
  width: 256px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent10 {
  align-self: stretch;
  width: 902.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  font-size: 14px;
}
.link-log5,
.link-sign6,
.space {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.link-sign6 {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  min-width: 53px;
  white-space: nowrap;
}
.link-log5,
.space {
  font-weight: 600;
  color: #d1d5db;
  min-width: 6px;
}
.link-log5 {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  min-width: 41.2px;
  white-space: nowrap;
}
.link-sign-up-parent3 {
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 11.1px;
  text-align: left;
  font-size: 14px;
  color: #080808;
  font-family: Inter;
}
.link-sign-up-parent3,
.nav-inner3,
.nav7 {
  display: flex;
  align-items: flex-start;
}
.nav-inner3 {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 9.5px 0 0;
}
.nav7 {
  align-self: stretch;
  height: 64px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  background-color: #cfcfcf;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 32px 12px 46px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .list2 {
    display: none;
  }
  .nav7 {
    padding-left: 23px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .item-link11,
  .item-link14 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .nav-inner3 {
    display: none;
  }
}
